.login-card {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.glow-text {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.auth-sub {
    color: #cbd5e1;
}

.card-inner {
    border-radius: 12px;
}

.custom-input {
    background: transparent;
    border: 1px solid #00e5ff;
    color: white;
}

.custom-input::placeholder {
    color: #ccc;
}

.custom-input:focus {
    border-color: #00e5ff;
    box-shadow: 0 0 10px #00e5ff;
}

.unlock-btn {
  background: linear-gradient(90deg, #ff8a00, #00d4ff);
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.unlock-btn:hover {
  box-shadow: 0 0 25px #00d4ff;
  transform: scale(1.05);
}